a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* обмеження контенту  */

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.head {
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-flex {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 332px;
}
.navigation {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    position: relative;
}
.studio {
    color: #2e2f42;
}
.menu  {
    display: flex;
    gap: 40px;
}

.menu_item {
    padding: 24px 0;
    position: relative;


}
.menu_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.menu_link-active {
    color: #404BBF;
}
.menu_link:hover,
.menu_link:focus {
    color: #404BBF;
}
.menu_link-active::after {
    content: '';
    width: 100%;
    display: block;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;

}

.first-svg-aection {
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
    gap: 24px;
    
    border-radius: 4px;
    border: 1px solid  #8e8f99;
    margin-bottom: 8px;   
    display: flex;
    align-items: center;
    justify-content: center;                  
}


.contacts {
    font-style: normal
}
.contacts_list {
    display: flex;
    gap: 40px;
}
.contacts_link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts_link:hover,
.contacts_link:focus {
    color: #404BBF;
}

.first-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}
.main-title {
    color: white;
    line-height: 107%;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}
.main-button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    font-size: 16px; 
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin: 0 auto; 
    border-radius: 4px;
    transition: .3s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.second-section {
    padding: 120px 0;
    margin-bottom: 120px;

}

.team-svg {
    fill:#f4f4fd;

    
}
.second-section_list {
    display: flex;
    gap: 24px;
}
.second-section_card {
    width: 264px;
    height: 104px;

}
.second-section_card_title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    margin-bottom: 8px;
}
.second-section_card_text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    
}
.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.opacity {
    opacity: 0.4;
}
.team-section_list {
    display: flex;
    gap: 24px;
}
.team-section_card {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 0;
    width: 264px;
    min-height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.section_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.team-section_card-desc {
    padding: 32px 0;
}
.team-section_card_title {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-section_card_text {
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    text-align: center;
}
.list-sociale {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 24px;
}
.list-sociale-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-sociale-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-sociale-link:hover,
.list-sociale-link:focus {
    background-color: #404bbf;
}

.foot_text {
    width: 264px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
}
.section-portfolio {
    padding: 120px 0 120px 0;

}
.section-portfolio_list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.section-portfolio_card {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    /* height: 420px; */
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.section-portfolio_card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-portfolio_card-img-container {
    position: relative;
    overflow: hidden;
}
.section-portfolio_card-img-container-p {
    position: absolute;
    top: 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio_card:hover  .section-portfolio_card-img-container-p {
    transform: translateY(0%);
}

/* .section-portfolio_image {
} */

.section-portfolio_card-desc {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.section-portfolio_card_title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;
    margin-bottom: 8px;

}
.section-portfolio_text {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}

.foot {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-content {
    display: flex;
    align-items: baseline;
}
.footer-left {
    margin-right: 120px;
}
.foot_logo {
    margin-bottom: 16px;
    display: inline-block;
}
.foot_studio {
    color: #f4f4fd;
}
.foot_text {
    /* padding-top: 16px; */
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 150%;
}

.footer-social-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}
.footer-social-list-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}
.footer-social-link-ico {
    fill: #f4f4fd;
}
.foooter-subscribe {
    margin-left: auto;
}
.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-subscribe-form {
    display: flex;
    gap: 24px;
}
.footer-subscribe-form-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;   
}
.footer-subscribe-form-input::placeholder {
    color: #fff;
}
.footer-subscribe-form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
.footer-subscribe-ico {
    margin-left: 16px;
    fill: #ffffff;
    transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-subscribe-form-button:hover {
    background-color: #6873f0;
}
.footer-subscribe-form-button:hover > .footer-subscribe-ico {
    transform: scale(0.5) rotate(30deg) translate(300%, -200%);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal { 
    padding: 72px 24px 24px 24px;
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;

}
.close-ico {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover > .close-ico,
.modal-close-btn:focus > .close-ico {
    fill: #fff;
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;

}
.modal-item-box {
    margin-bottom: 8px;

}
.modal-name-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}
.modal-name-input-box {
    position: relative;

}
.modal-name-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-name-input:focus {
    border-color: #4D5AE5;

}
.name-ico{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}
.modal-name-input:focus + .name-ico {
    fill: #4D5AE5;
}
.modal-textarea-box {
    margin-bottom: 16px;

}
.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-textarea:focus {
    border-color: #4D5AE5;
}
.modal-checkbox-container {
    margin-bottom: 24px;
}
.modal-checkbox {
    visibility: hidden;
}
.modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}
.modal-custom-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;

}
.modal-checkbox:checked + .modal-checkbox-label > .modal-custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.modal-checkbox-label-link {
    color:#4d5ae5;
}
.modal-button{
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}